<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wraith Reactor :: Home</title>
</head>
<body>
{{with . }}
<h1>Howdy, {{.User}}</h1>
<ul>
  <li>
    <a href="/ui/reports/PT-1/current" target="_blank">Current Report ↗</a>
  </li>
  <li>
    <a href="/ui/games/PT-1/orders" target="_blank">Current Orders ↗</a>
  </li>
  <li>
    <a href="/ui/games/PT-1/cluster" target="_blank">Cluster Summary ↗</a>
  </li>
  <li>
    <a href="/ui/units" target="_blank">Units Summary ↗</a>
  </li>
  <li>
    <a href="https://wraith.dev/docs/index.html">Documentation ↗</a>
  </li>

  <li>
    <a href="/ui/reports/PT-1/0000/0/{{.PlayerId}}" target="_blank">PT-1/0000/0 Setup Report ↗</a>
  </li>
  <li>
    <a href="/ui/logs/PT-1/0000/0/{{.PlayerId}}" target="_blank">PT-1/0000/0 Setup Log ↗</a>
  </li>

  <li>
    <a href="/ui/reports/PT-1/0000/1/{{.PlayerId}}" target="_blank">PT-1/0000/1 Report ↗</a>
  </li>
  <li>
    <a href="/ui/logs/PT-1/0000/1/{{.PlayerId}}" target="_blank">PT-1/0000/1 Log ↗</a>
  </li>

  <li>
    <a href="/ui/reports/PT-1/0000/2/{{.PlayerId}}" target="_blank">PT-1/0000/2 Report ↗</a>
  </li>
  <li>
    <a href="/ui/logs/PT-1/0000/2/{{.PlayerId}}" target="_blank">PT-1/0000/2 Log ↗</a>
  </li>

  <li>
    <a href="/ui/reports/PT-1/0000/3/{{.PlayerId}}" target="_blank">PT-1/0000/3 Report ↗</a>
  </li>
  <li>
    <a href="/ui/logs/PT-1/0000/3/{{.PlayerId}}" target="_blank">PT-1/0000/3 Log ↗</a>
  </li>

  <li>
    <a href="/ui/reports/PT-1/0000/4/{{.PlayerId}}" target="_blank">PT-1/0000/4 Report ↗</a>
  </li>
  <li>
    <a href="/ui/logs/PT-1/0000/4/{{.PlayerId}}" target="_blank">PT-1/0000/4 Log ↗</a>
  </li>

</ul>
<p>You are registered as player "{{.PlayerName}}" in game "PT-1." You are player #{{.PlayerId}} and nation #{{.NationNo}} in that game.</p>
{{else}}
<h1>Something went wrong...</h1>
<p>
  The claims lookup failed.
  Please try to log in again.
  If the problem persists, please contact the game manager for assistance.
</p>
{{end}}
</body>
</html>